# Read in CSVs based on NCES Tables

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
from ipywidgets import interactive
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

ELSI Table Generator - https://nces.ed.gov/ccd/elsi/tableGenerator.aspx?savedTableID=357855

Select a Table Row - District

Select Years - 13-14, 14-15, 15-16, 16-17, 17-18, 18-19, 19-20, 20-21

Select Table Columns - Information (7), Characteristics (4), Enrollments (1), Teachers & Staff (3)

Select Filters (Refinements) - All 50 States + DC

In [ ]:
year_13 = pd.read_csv("../data/elsi1314.csv", skiprows=6, nrows=18609)
#year_13.tail()

In [ ]:
year_14 = pd.read_csv("../data/elsi1415.csv", skiprows=6, nrows=18620)
#year_14.tail()

In [ ]:
year_15 = pd.read_csv("../data/elsi1516.csv", skiprows=6, nrows=18678)
#year_15.tail()

In [ ]:
year_16 = pd.read_csv("../data/elsi1617.csv", skiprows=6, nrows=18468)
#year_16.tail()

In [ ]:
year_17 = pd.read_csv("../data/elsi1718.csv", skiprows=6, nrows=18440)
#year_17.tail()

In [ ]:
year_18 = pd.read_csv("../data/elsi1819.csv", skiprows=6, nrows=19406)
#year_18.tail()

In [ ]:
year_19 = pd.read_csv("../data/elsi1920.csv", skiprows=6, nrows=19534)
#year_19.tail()

In [ ]:
year_20 = pd.read_csv("../data/elsi2021.csv", skiprows=6, nrows=19388)
#year_20.tail()

## DataFrame Shape
Confirms that each DataFrame has an equivalent number of columns

In [ ]:
#year_13.shape

In [ ]:
#year_14.shape

In [ ]:
#year_15.shape

In [ ]:
#year_16.shape

In [ ]:
#year_17.shape

In [ ]:
#year_18.shape

In [ ]:
#year_19.shape

In [ ]:
#year_20.shape

## Adding Year Column
By adding a static year column to each DataFrame, the columns can be given generic names in order to be combined later

In [ ]:
year_13['Year'] = '2013'
#year_13.head(2)

In [ ]:
year_14['Year'] = '2014'
#year_14.head(2)

In [ ]:
year_15['Year'] = '2015'
#year_1516.head(2)

In [ ]:
year_16['Year'] = '2016'
#year_16.head(2)

In [ ]:
year_17['Year'] = '2017'
#year_17.head(2)

In [ ]:
year_18['Year'] = '2018'
#year_18.head(2)

In [ ]:
year_19['Year'] = '2019'
#year_19.head(2)

In [ ]:
year_20['Year'] = '2020'
#year_20.head(2)

## Standardizing Column Names
Each annual DataFrame will have the same columns. Based on the number of nulls in each, either the State Name or State column will be dropped. State Name is derived from the 'last year available' data and State is derived from the selected year.

In [ ]:
year_13.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_13.head(2)

In [ ]:
year_14.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_14.head(2)

In [ ]:
year_15.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_15.head(2)

In [ ]:
year_16.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_16.head(2)

In [ ]:
year_17.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_17.head(2)

In [ ]:
year_18.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_18.head(2)

In [ ]:
year_19.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_19.head(2)

In [ ]:
year_20.columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year']
#year_20.head(2)

## pd.Replace
Convert symbols included from ELSI into NA and NaN for more accurate EDA

In [ ]:
year_131 =year_13.replace('†', 'NA')
#year_131.head()

In [ ]:
year_141 = year_14.replace('†', 'NA')
#year_141.head()

In [ ]:
year_151 = year_15.replace('†', 'NA')
#year_151.head(2)

In [ ]:
year_161 = year_16.replace('†', 'NA')
#year_161.head(2)

In [ ]:
year_171 = year_17.replace('†', 'NA')
#year_171.head()

In [ ]:
year_181 = year_18.replace('†', 'NA')
#year_181.head()

In [ ]:
year_191 = year_19.replace('†', 'NA')
#year_191.head()

In [ ]:
year_201 = year_20.replace('†', 'NA')
#year_201.head()

In [ ]:
year_132 =year_131.replace('–', 'NaN')
#year_132.head()

In [ ]:
year_142 =year_141.replace('–', 'NaN')
#year_142.head()

In [ ]:
year_152 =year_151.replace('–', 'NaN')
#year_152.head()

In [ ]:
year_162 =year_161.replace('–', 'NaN')
#year_162.head()

In [ ]:
year_172 =year_171.replace('–', 'NaN')
#year_172.head()

In [ ]:
year_182 =year_181.replace('–', 'NaN')
#year_182.head()

In [ ]:
year_192 =year_191.replace('–', 'NaN')
#year_192.head()

In [ ]:
year_202 =year_201.replace('–', 'NaN')
#year_202.head()

## pd.Concat & df.reindex

In [ ]:
enrollments1 = pd.concat([year_132, year_142, year_152, year_162, year_172, year_182, year_192, year_202], axis=0)
#enrollments1.head()

In [ ]:
enrollments1 = enrollments1.reindex(columns = ['Agency Name', 'State Name', 'State Abbreviation', 'NCES ID', 'State', 'District', 'County', 'School Count', 'ZIP Code', 'District Type', 'Locale', 'Start of Year Status', 'Updated Status', 'Student Count', 'FTE Teachers', 'Pupil/Teacher Ratio', 'Total Staff', 'Year'])
#enrollments1.head()

In [ ]:
enrollments1['State Name'] = enrollments1['State Name'].str.upper()
#enrollments1.head()

In [ ]:
enrollments1['State'] = enrollments1['State'].str.upper()
#enrollments1.head()

In [ ]:
enrollments1['District'] = enrollments1['District'].str.upper()
#enrollments1.head(15)

## Data Cleaning
Using general EDA to identify opportunities to clean and organize the data

In [ ]:
enrollments1.info()
#symbols used by NCES are see as non-null by Python. Will need further EDA to discern best state column to keep

In [ ]:
enrollments1['Agency Name'].value_counts()

In [ ]:
enrollments1['State Name'].value_counts()

In [ ]:
#enrollments1['State'].value_counts()
#will drop this column as the numbers in State Name are consistently higher and indicate a more complete column

In [ ]:
enrollments = enrollments1.drop("State", axis=1)
#enrollments.head()

In [ ]:
type(enrollments)

In [ ]:
enrollments['District Type'].value_counts()

In [ ]:
enrollments['District Type'].value_counts(normalize=True)

In [ ]:
enrollments['Locale'].value_counts()

In [ ]:
enrollments['Locale'].value_counts(normalize=True)

In [ ]:
enrollments['School Count'].value_counts()
#replace ="0" with 0

In [ ]:
enrollments = enrollments.replace('="0"', 0)
#enrollments['School Count'].value_counts()

In [ ]:
#enrollments['Pupil/Teacher Ratio'].value_counts()
#need to remove ="" notation from some entries. regex?

In [ ]:
enrollments['Pupil/Teacher Ratio'] = enrollments['Pupil/Teacher Ratio'].map(lambda x: x.strip('="').rstrip('"'))
#https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column

In [ ]:
#enrollments['Pupil/Teacher Ratio'].value_counts()

In [ ]:
enrollments['ZIP Code'] = enrollments['ZIP Code'].map(lambda x: str(x).strip('="').rstrip('"'))

In [ ]:
enrollments['ZIP Code'].value_counts()

In [ ]:
enrollments['NCES ID'] = enrollments['NCES ID'].map(lambda x: str(x).strip('="').rstrip('"'))

In [ ]:
enrollments['NCES ID'].value_counts()

In [ ]:
enrollments['FTE Teachers'] = enrollments['FTE Teachers'].map(lambda x: str(x).strip('="').rstrip('"'))

In [ ]:
enrollments['FTE Teachers'].value_counts()

In [ ]:
enrollments['Total Staff'] = enrollments['Total Staff'].map(lambda x: str(x).strip('="').rstrip('"'))

In [ ]:
enrollments['Total Staff'].value_counts()

In [ ]:
enrollments.dtypes

In [ ]:
enrollments['NCES ID'] = pd.to_numeric(enrollments['NCES ID'], errors='coerce')

In [ ]:
enrollments.dtypes

In [ ]:
enrollments.groupby('Agency Name')['Year'].value_counts().unstack()
#are there other grouping options that would allow for looking at student counts inside of each year?

In [ ]:
stucounts = enrollments.value_counts(subset = ['NCES ID', 'Year', 'Student Count']).sort_values()
stucounts

In [ ]:
enrollments.head()

In [ ]:
enrollments.sort_values(['NCES ID', 'Year'], ascending=[True, True], inplace=True)
enrollments.head(20)
#sorted by NCES ID, a unique identifier, and then by year

In [ ]:
enrollments = enrollments.reset_index()
enrollments.head()

In [ ]:
enrollments.info()

In [ ]:
enrollments['Year'] = pd.to_numeric(enrollments['Year'], errors='coerce')

In [ ]:
enrollments['Student Count'] = pd.to_numeric(enrollments['Student Count'], errors ='coerce')

In [ ]:
enrollments.info()

In [ ]:
enrollments['District Type'] = enrollments['District Type'].str[0]
#enrollments.head(10)
#converted District Type column to numeric representation only

In [ ]:
enrollments['District Type'].value_counts()

In [ ]:
enrollments.head(2)

In [ ]:
enrollments.to_csv("../data/enrollmentsdf.csv")

In [ ]:
localdistricts = enrollments.loc[enrollments['District Type'] == '1']
localdistricts.head()

In [ ]:
localdistricts.shape

In [ ]:
localdistricts.to_csv("../data/localdistricts.csv")

In [ ]:
#https://www.youtube.com/watch?v=ZUFmdsgvDts&list=PL6_D9USWkG1A2pZeN2NOqkDdtD16TDn6P&index=21
#pivot table tutorial - would be a good alternative to .groupby with .value_counts

Next steps - create nested loop to complete calculations showing differences in enrollment from one year to the next

WHILE NCES ID is equal FOR years (rows) that are larger than the previous row, the difference in student count should be calculated by (year + 1) - year = difference. BREAK/ELSE when largest year is reached and move to next NCES ID.

## Creating Loop to Calculate Enrollment Changes by Year for Each NCES ID
Practicing on a singular district or state before attempting across the general DataFrame.

Loop Requirements

1. Loop through years IF the NCES ID is the same

2. Loop through years IF next row is larger than the current row AND condition #1 is met

3. Calculate difference in student count by (student count row + 1) - (student count row) = enrollment difference

4. Make a new column for enrollment difference

5. If next year is NOT larger AND NCES ID is NOT equal, break loop and move to next NCES ID

Columns
1. NCES ID - existing

2. Year - existing

3. Student Count - existing

4. Enrollment Difference - created by loop

In [ ]:
# lausd = enrollments.loc[enrollments['District'] == 'LOS ANGELES UNIFIED'].reset_index()
# lausd

In [ ]:
# wyoming = enrollments.loc[enrollments['State Name'] == 'WYOMING']
# wyoming

#trying to just iterate through a few years to get the syntax down and then build other loops onto it

student_diff=[]
student_diff.append(enrollments['results'])
year = 2013
while year < 2021:
    student_diff.append(enrollments['results'])
    year = year + 1
    print(enrollments.groupby('NCES ID')['Student Count'])
else:
    print ('------')
    
#ran endlessly with no answer

In [ ]:
# for key, value in lausd.iteritems():
#     print(key, value)
#would be helpful for iterating between the different years when the NCES ID number is the same and the year increases by 1. iteritems is iterating by row and calculations will need to run down a column instead
#https://www.youtube.com/watch?v=hZ_iiuh8CDo

In [ ]:
# for key, value in lausd['Student Count'].iteritems():
#     print(([key, value] + 1) -(key, value))
#TypeError: can only concatenate list (not "int") to list

In [ ]:
# school_id=enrollments['NCES ID'][0]
# enrollment_changes =[]
# enrollment_diff=''

# for index, row in enrollments.iterrows():
#     if index != 0:
#         if school_id == row['NCES ID']:
#             enrollment_diff = enrollments.loc[index, 'Student Count'] - enrollments.loc[int(index)-1, 'Student Count']
#         else:
#             enrollment_diff = 'NA'
#     else:
#         enrollment_diff = 'NA'
        
#     school_id=row['NCES ID']
#     enrollment_changes.append(enrollment_diff)
#     print(enrollment_changes)
#     print(enrollment_diff)

In [ ]:
#enrollments['Enrollment Change'] = enrollment_changes

In [ ]:
#enrollments.head(20)

## Optimizing the Loop

In [ ]:
localdistrictsloop = localdistricts[['Agency Name', 'State Name', 'NCES ID', 'Student Count', 'Year']].copy()
localdistrictsloop.head(10)
#only keeping the columns necessary for the loop and eventual merging with the webscraping data. Also filtered to only include local districts that are not part of a supervisory union

In [ ]:
localdistrictsloop = localdistrictsloop.reset_index()
localdistrictsloop.head(10)

In [ ]:
localdistrictsloop.shape

In [ ]:
school_id=localdistrictsloop['NCES ID'][0]
enrollment_changes =[]
enrollment_diff=''

for index, row in localdistrictsloop.iterrows():
    if index != 0:
        if school_id == row['NCES ID']:
            enrollment_diff = localdistrictsloop.loc[index, 'Student Count'] - localdistrictsloop.loc[int(index)-1, 'Student Count']
        else:
            enrollment_diff = 'NA'
    else:
        enrollment_diff = 'NA'
        
    school_id=row['NCES ID']
    enrollment_changes.append(enrollment_diff)
    print(index)
    print(enrollment_changes)
    print(enrollment_diff)

In [ ]:
localdistrictsloop['Enrollment Change'] = enrollment_changes
localdistrictsloop.tail(20)

In [ ]:
localdistrictsloop['Enrollment Change'] = pd.to_numeric(localdistrictsloop['Enrollment Change'], errors='coerce')

In [ ]:
localdistrictsloop.info()

In [ ]:
localdistrictsloop.to_csv('enrollment_changes.csv')

## Additional EDA
Based on enrollment change details

In [ ]:
enrollmentchanges = pd.read_csv('../data/enrollment_changes.csv')

In [ ]:
enrollmentchanges.head()

In [ ]:
pd.pivot_table(localdistrictsloop, 'Agency Name', index=['Enrollment Change'], columns=['Year'], aggfunc=np.sum)

In [ ]:
netchange = enrollmentchanges.groupby(['State Name', 'Agency Name'])['Enrollment Change'].sum().reset_index()
netchange.head()
#enrollment change in this instance actually reflects a sum of the enrollment changes for all years a school district reported student counts

In [ ]:
type(netchange)

In [ ]:
netchange.columns = ['State Name', 'Agency Name', 'Net Enrollment Change']
netchange.head()

In [ ]:
netchange.nlargest(25, "Net Enrollment Change")

In [ ]:
netchange.nsmallest(25, "Net Enrollment Change")

In [ ]:
#localdistrictsloop['Net Enrollment Change'] = (localdistrictsloop.groupby(['State Name', 'Agency Name'])['Enrollment Change'].sum().reset_index())
#localdistrictsloop.head()

In [ ]:
localdistrictsloop.shape

In [ ]:
localdistrictsloop.tail(5)

In [ ]:
localdistrictsloop = localdistrictsloop.drop("level_0", axis=1)
localdistrictsloop.tail()

In [ ]:
localdistrictsloop = localdistrictsloop.drop("index", axis=1)
localdistrictsloop.tail()

In [ ]:
# school_num=localdistrictsloop['NCES ID'][0]
# enrollment_sum=[]
# enrollment_net=''

# for index, row in localdistrictsloop.iterrows():
#     if index != 0:
#         if school_num == row['NCES ID']:
#             enrollment_net = localdistrictsloop.loc[index, 'Enrollment Change'] + localdistrictsloop.loc[index+1, 'Enrollment Change'] + localdistrictsloop.loc[index+2, 'Enrollment Change'] + localdistrictsloop.loc[index+3, 'Enrollment Change'] + localdistrictsloop.loc[index+4, 'Enrollment Change'] + localdistrictsloop.loc[index+5, 'Enrollment Change'] + localdistrictsloop.loc[index+6, 'Enrollment Change'] + localdistrictsloop.loc[index+7, 'Enrollment Change']
#         else:
#             enrollment_net = 'NA'
#     else:
#         enrollment_net = 'NA'
    
#     school_num=row['NCES ID']
#     enrollment_sum.append(enrollment_net)
#     print(index)
#     print(enrollment_net)
    
#was not successful - will look for other methods to determine net enrollment changes across all years

In [ ]:
# localdistrictsloop['Net Enrollment Change'] = pd.Series(enrollment_sum)
# localdistrictsloop.tail(20)